{% extends "base.html" %}
{% set title = "Update password v2" %}
{% block content %}
<h3 class="mb-3">Update password</h3>
<form method="POST" action="/update_pw/v2">
  <input class="form-control mb-2" name="username" placeholder="Username" required>
  <input class="form-control mb-2" type="password" name="old_password" placeholder="Old password" required>
  <input class="form-control mb-3" type="password" name="new_password" placeholder="New password" required>
  <button class="btn btn-warning w-100">Update</button>
</form>
{% endblock %}
